
<ul class="jobCard_container">
          <% jobs.forEach(note=> { %>
            <li>
              <div class="jobCard">
                <h5>
                  <%= note.status %>
                </h5>
                <h2>
                  <%= note.jobTitle %>
                </h2>
                <h3>
                  <%= note.company %>
                </h3>
                <p>
  <% let date = new Date(note.createdAt); %>
  <% if (date instanceof Date && !isNaN(date)) { %>
    <%= date.toLocaleDateString('fr-FR', { day: '2-digit', month: '2-digit', year: 'numeric' }) %>
  <% } else { %>
    Invalid Date
  <% } %>
</p>

                <a href="/jobDetails/<%= note.id %>">See more</a>
            </li>
            </div>
            <% }) %>
        </ul>
</div>

<script>
    const filterElement = document.getElementById('filter');
    const orderElement = document.getElementById('order');
    const form = document.querySelector('.filter_form');

    function checkAndSubmit() {
        if (filterElement.value && orderElement.value) {
            form.submit();
        }
    }

    filterElement.addEventListener('change', checkAndSubmit);
    orderElement.addEventListener('change', checkAndSubmit);
</script>