<%- include('partials/header'); -%>

    <h1>MY PROFILE</h1>

    <div class="profil">
        <h2>First Name : <%= user.firstName %>
        </h2>
        <h2>Last Name : <%= user.lastName %>
        </h2>
        <h2>GitHub : <a href="<%= user.gitHub  %>" target="_blank">
                <%= user.gitHub %>
            </a></h2>
    </div>
    <div class="return">
        <button><a href="/">Return to the dashboard</a></button>
    </div>